.sidebar {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h2 {
    color: #3498db;
    margin-bottom: 15px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .sidebar ul li a:hover {
    color: #3498db;
  }
  
  